body{
	min-width: 320px;
	background-color: #5c6bc0;
}
#app-container{
	
	
}

.container{
	padding-left: 0px;
}
.navbar .container{
	background-color: #3f51b5;
}
.navbar-default{
	
}
.rms-icon{
	font-size: 24px;
	color: white;
}
.rms-hmore{
	font-size: 24px;
	float:left;
}
.rms-hmore span{
	color: white;
}

.rms-user-info{
	padding-top: 16px;
	color: white;
}
.rms-user{
	float: left;
}
.rms-user-detail{	
	padding-left: 90px;
	margin-top: -6px;
	color: white;
}
.navbar{
	margin-bottom: 0px;
}
.container{
	width: auto;

}
.input-group-addon{
	background-color: #5c6bc0;
	border: none ;
	font-size: 20px;
}
.input-group-addon .stylish-input-group, .stylish-input-group spa, .stylish-input-group input, .stylish-input-group button{
	background-color: #5c6bc0;
	border: none;
}
.stylish-input-group{
	margin-top:1px;
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.rms-search-box{
	border-left:0px;
	
	height: 39px;
}
.left-column{	
	min-width: 300px;
	max-width: 32%;
	float: left;
	border-right: 1px solid darkgray;	
    box-shadow: 1px 2px 2px gray;
}
.column-head{
	float: left;
}
.right-column{
	width: auto;
	float: right;
	height: 600px;
	background-color:red;
}
.text-white{
	color: white;
	font-size: 14px;
}

input::-webkit-input-placeholder {
color: white !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: white !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: white !important;  
}
 
input:-ms-input-placeholder {  
color: white !important;  
}
.rms-search-count{
    border-radius: 7px;
    background-color: #e0e0e0;
    width: 50px;
    line-height:25px;
    font-size: 14px;
}
.font-medium{
	font-size: 22px;
}
.left-content{
	float:left;
	width: 100%;
	background-color: #fff;
	height: 500px
}
.rms-list-item{
	height: 80px;
	background-color: #fff !important;
	border-color: #aeaeae !important;
}

.rms-nav{
	height: 45px;
	
}

.img-circle{
	width: 50px;
}

.text-black{
	color: black;
}
.record-item{
	color: #3f51b5;
	font-weight: bold;
}