body{
	min-width: 480px;
    background-color: #5c6bc0;
    width: 99.9%;
    margin: 0 auto;
    box-shadow: 10px 10px;
    font-family: Roboto;
    font-size: medium;
}
#app-container{
	
	
}

.container{
	padding-left: 0px;
}
.navbar .container{
	background-color: #3f51b5;
	height: 50px;
}
.navbar-default{
	
}
.rms-icon{
	font-size: 24px;
	color: white;
}
.rms-hmore{	
	float:left;
}
.rms-hmore span{
	color: white;
}

.rms-user-info{
	float: left;
	color: white;
}
.rms-user{
	float: left;
	font-size: 36px;
	height: 50px;
	margin-top: -5px;
}
.rms-user-detail{	
	padding-left: 50px;
	padding-top: 5px;
	color: white;
}
.navbar{
	margin-bottom: 0px;
	height: 50px;
}
.container{
	width: auto;

}
.input-group-addon{
	background-color: #5c6bc0;
	border: none ;
	font-size: 20px;
	border-radius: 0px;
}
.input-group-addon .stylish-input-group, .stylish-input-group spa, .stylish-input-group input, .stylish-input-group button{
	background-color: #5c6bc0;
	border: none;
}
.stylish-input-group{
	margin-top:0px;
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.rms-search-box{
	border-left:0px;
	
	height: 39px;
}
.left-column{		
    border-right: 1px solid lightgray;
    min-width: 30%;
    max-width: 450px;
    vertical-align: top;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    overflow:auto;
    float: left;
}

.right-column{
	vertical-align: top;
	padding:0px;
}
.right-column a{
	color: white;
}
.text-white{
	color: white;
	font-size: 14px;
}

input::-webkit-input-placeholder {
color: white !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: white !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: white !important;  
}
 
input:-ms-input-placeholder {  
color: white !important;  
}
.rms-search-count{
    border-radius: 0px;
    background-color: #e0e0e0;    
    line-height:25px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
}
.font-medium{
	font-size: 22px;
}
.left-content{
	float:left;
	width: 100%;
	
}
.rms-list-item{
	height: 80px;
	background-color: #fff !important;
	border-color: #aeaeae !important;
	border-radius: 0px !important;
}

.rms-nav{
	height: auto;
	
}

.img-circle{
	width: 50px;
}
.avt-img-circle{
	width: 36px;
	border-radius: 50%;
}
.text-black{
	color: black;
}
.record-item{
	font-weight: bold;
}

@media (max-width: 1024px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a  {
    border-radius: 0 !important;
    margin-bottom: 0 !important;
  }
}

.right-column ul li{
	padding-bottom: 2px !important;
	font-size: 20px;
}

.right-column li a {
	padding-bottom: 1px;
	padding-right: 0px;
	padding-left: 0px;
}
.right-column ul li a:hover {
	color: #880e4f;
	background: none;
	border: none;	
	padding-right: 0px;
	padding-left: 0px;
	border-bottom: 2px solid #880e4f;
}

.right-column .active a{
	color: #880e4f;
	background: none;
	border: none;

	padding-bottom: 1px;
	padding-right: 0px;
	padding-left: 0px;
	border-bottom: 2px solid #880e4f;
}

.nav-tabs.nav-justified>li>a{
	border-bottom: 2px solid #5c6bc0;
}
.nav-tabs>li.active>a{
	background: transparent !important;
	border: none !important;
	color: #880e4f !important;
	border-bottom: 2px solid #880e4f !important;
}

.right-column .tab-content{
	background-color: #fff;
}

#persional-info .title{
	line-height: 28px;
    padding: 10px;
    font-weight: bold;
}
.info-item{
	font-size: 16px;
	padding-top: 5px;
    padding-bottom: 5px;
}

.info-item-small{
	font-size: small;
}
.navbar-nav{
	margin-top: 0px;
}

.left-content ul li:hover{
	border-bottom: 2px solid #880e4f !important;	
}

.left-content ul li:hover .record-item{	
	color: #3f51b5 !important;
}
.rms-userlogged-info{
	padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-nav>li>a{
	padding-bottom: 0px !important;
}
.padding-right-10{
	padding-right: 10px;
}
.navbar-left{
	width: 100%;
	float: left;
}
.navbar-right{
	float: right;
	list-style:none;
}
.width-50px{
	width: 50px;
}
.width-100{
	width: 100%;
}
.table-responsive{
	overflow-x: inherit;
}
.font-size-16px{
	font-size: 16px;
}
.column-head{
	height: 45px;
	padding-top: 1px;
}
.right-align{
	float: right!important;
}
.navbar-left .right-align div.rms-user-info{
	padding-top: 15px;
}
#page-wrapper{
	
}
.left-menu, .left-menu li{
	background: #5c6bc0;
}

.left-menu{
	height: 45px;
}

.right-menu {
	position: relative;
    overflow: hidden;
    background: #5c6bc0;

}

.right-menu ul li{
	padding-left: 10px;
	padding-right: 10px;
}