html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size: 15px;
  margin: 0;
  line-height: 24px;
}

body {
  margin: 0;
  background-color: #efefef;
}

body, html, #app, #app > div{
  height: 100%;
}

a {
  color: #ff4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.m-b-15 {
  margin-bottom: 15px
}


.header{
  background:#3f51b5 !important;
}
.drawer div:first-child{
  z-index:1000 !important
}
.account-info{
  color:#fff;
}

.menu-item{
  border-bottom:solid 1px #aeaeae;
}
.menu-item:hover{
  border-bottom:solid 1px #880e4f;
}
.drawer-container{
  background-color:#fff !important;
  top:auto !important;
}
.employees-info-name{
  font-weight:bold;
  font-size:14px;
  line-height:normal;
}
.employees-info{
  line-height:normal;
  font-size:12px;
}
.cleft{
  float:left;
  width:60%;
}
.hide-icon{
  display:none !important;
}
.employees-menu-nav{
  padding-left:0px !important;
  padding-right:5px !important;
  background:#5c6bc0 !important;
}
.white-color{
  color:white;
}